<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>{{ site.title }}</title>
    
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>{{ site.title }}</h1>
	
	      <p>Software Engineering Researcher
		<br>
	      <a href="https://www.ruhr-uni-bochum.de/en" rel="me noopener noreferrer">Ruhr-University Bochum</a></p>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}
        
        <div text-align="center">
        <a href="mailto:jacob.krueger@rub.de">
		<img src="logos/mail.png" height="18px" style="margin-inline-start: 0.75em; margin-bottom: 3px" alt="Mail">
        </a>
	      
        <a href="https://scholar.google.de/citations?user=kNvGUNsAAAAJ&hl=de&oi=ao" target="_blank" rel="me noopener noreferrer">
		<img src="logos/gs.png" height="24px" style="margin-inline-start: 0.75em" alt="Scholar"/></a>
        
        <a href="https://dblp.uni-trier.de/pid/186/2756.html" target="_blank" rel="me noopener noreferrer">
		<img src="logos/dblp.png" height="24px" style="margin-inline-start: 0.75em" alt="Mail">
        </a>
		
        <a href="https://orcid.org/0000-0002-0283-248X" target="_blank" rel="me noopener noreferrer">
		<img src="logos/orcid.png" height="24px" style="margin-inline-start: 0.75em" alt="ORCID"/></a>
		
        <a href="https://twitter.com/JacobKrueger_" target="_blank" rel="me noopener noreferrer">
	      <img src="logos/twitter.png" height="24px" style="margin-inline-start: 0.75em" alt="Twitter"/></a>
        </div>
	      
	<div>
		<br>
		<a class="twitter-timeline" href="https://twitter.com/JacobKrueger_?ref_src=twsrc%5Etfw" data-height="250" data-chrome="noheader nofooter noborders transparent"></a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
	</div>
      </header>
      <section>
      
	<ul style="list-style-type: none; margin: 0; padding: 0; overflow: hidden">
	   {% for item in site.data.navigation.docs %}
	      <li style="display: inline; text-align: center; padding: 14px 16px; text-decoration: none"><a href="{{ item.url }}"><b>{{ item.title }}</b></a></li>
	   {% endfor %}
	</ul>
	      
	      <br>
	      
	      <hr>
	      
	      <br>

      {{ content }}

      </section>
      <footer>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
